body {
    background-color: #FFF4EB;
}

p {
    color: #342636;
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: #55314b;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: #c44694;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #17BEBB;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

a {
    color: #4677AF;
    font-family: 'Roboto Serif', serif;
    font-style: italic;
}

a:visited {
    color: #6B2D5C;
}

ul {
    color: #342636;
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    list-style-type: circle;
}

.icon {
    height: 50px;
    width: 50px;
}

table {
    border: 2px solid #55314b;
}

td, th {
    border: 2px solid #6B2D5C;
}

img {
    border-radius: 20%;
}

div {
    list-style-type: none;
    align-content: center;
}